<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="button-box">
      <form action="/members/<%= member.membershipId %>" method="post">
        <input typer="text" id="membershipId" name="membershipId" disable value="<%= member.membershipId %>">
        <input typer="text" id="name1" name="name1" value="<%= member.name1 %>">
        <input type="date" id="vinculaliaDateUse" name="vinculaliaDateUse" value="<%= member.vinculaliaDateUse %>">
        <button class="button" type="submit">Update member</button>
      </form>
    </div>
  </body>
</html>
